main {
  min-height: 80vh;
}

.main-height {
  min-height: 80vh;
}

.main-clearance {
  margin-top: 0.5rem;
  padding: 1rem;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

.form-group {
  margin-bottom: 1.8rem;
}

.table td {
  vertical-align: middle;
}
